form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Прозрачный белый фон */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Тень */
}

/* Стили для заголовка формы */
.form-title {
    text-align: center;
    color: white;
}

/* Стили для кнопки */
button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #333; /* Цвет кнопки */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #555; /* Цвет кнопки при наведении */
}
