
form {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #1D1D1D;
    max-width: 1200px; /* Максимальная ширина формы */
    width: 100%; /* Занимает всю доступную ширину */
    box-sizing: border-box; /* Учитываем padding и border в ширине */
    font-family: Tahoma, Geneva, sans-serif;
}

/* Стили для каждого поля формы */
form p {
    margin-bottom: 15px;
}

form label {
    display: inline-block;
    width: 120px; /* Ширина метки */
    font-weight: bold;
}

form input[type="text"],
form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #666666;


}

/* Стили для кнопки отправки */
form button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

/* Стили для контейнера отзывов */
.review-container {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    background-color: #000000;
}

.review-container h2 {
    margin-bottom: 10px;
    font-size: 18px;
}

.stars {
    color: gold;
    font-size: 20px;
}

/* Дополнительные стили по вашему усмотрению */
/* Стили для пагинатора !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.page-num {
    display: inline-block;
    margin: 0 5px;
    padding: 5px 10px;
    color: #fff; /* белый цвет текста */
    background-color: #333; /* темно-серый цвет фона */
    border-radius: 5px;
    text-decoration: none;
}

.page-num-selected {
    display: inline-block;
    margin: 0 5px;
    padding: 5px 10px;
    color: #333; /* темно-серый цвет текста */
    background-color: #fff; /* белый цвет фона */
    border-radius: 5px;
    text-decoration: none;
}
